.profilepicture {
  display: flex;
  justify-content: center;

  height: 50vh;
  width: 100%;
  gap: 5vw;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    height: auto; // laisse respirer en mobile
    gap: 3vh;
  }

  .imageContainer {
    position: relative;
    width: 40vw;
    aspect-ratio: 1;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      width: 80vw; // plus large en mobile
      max-width: 400px; // limite pour éviter qu'elle soit énorme sur tablette
    }
  }

  .image {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }

  .waterDistorsionContainer {
    width: 40vw;
    height: 50vh;

    @media (max-width: 768px) {
      width: 80vw; // plus large en mobile
      max-width: 400px; // limite pour éviter qu'elle soit énorme sur tablette
    }
  }

  .screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-loader);
    z-index: 2;
  }

  .profileText {
    padding-top: 5vh;
    font-family: "Satoshi-Medium", sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);

    @media (max-width: 768px) {
      font-size: clamp(1rem, 4vw, 1.5rem); // un peu plus lisible sur mobile
      padding-top: 2vh;
      text-align: center;
    }
  }
}
