.description {
  // height: 150vh;
  display: flex;
  justify-content: center;
  padding: 0 3vw 0 3vw;
  // border: solid 1px black;

  // h1 {
  //   font-family: "Satoshi-Bold", sans-serif;
  //   font-size: 12vw;
  // }
}
